*.lo
*.la
*.lai
*.o
*.so
.deps
config.h
config.nice
config.status
libtool
Makefile
Makefile.fragments
Makefile.objects
tmp-php.ini
.libs/msgpack.so.dSYM/Contents/Info.plist
autom4te.cache/output.0
autom4te.cache/requests
autom4te.cache/traces.0
tests/bug002.diff
tests/bug002.exp
tests/bug002.log
tests/bug002.out
tests/bug002.php
tests/bug002.sh
